body {
	background-color: #EBFFF5;
}
div {
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  resize: both;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
a {
	color: black;
}
.octicon {
	font-size: 64px;
}
@media (min-width: 320px) {
	div {
		width: 100%;
	}
}