---
---
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="css/style.css">
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
    	<div class="container">
        <div id="title" class="jumbotron">
        	<h1>Mitchell Gordon</h1>
        </div>
        <ul id="menu">
        {% for section in site.data.sections %}
            <li id="{{ section.name }}">
               {{ section.name }} 
            </li>
        {% endfor %}
        </ul>
        <div id="content" class="row">
            {% for post in site.posts %}
                <div class="content-item {{ post.category }} col-md-6" style="display: none" >
                    <h3>{{ post.title }} </h3>
                    <span style="text-align: left;">{{ post.content }} </span>
                </div>
            {% endfor %}
        </div>
        </div>
        <script src="js/menu.js"></script>
    </body>
</html>
